<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Kit IoT</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right" ng-controller="LoginController as loginCtrl">
      <ul class="nav navbar-nav">
        <li>
          <a ng-click="loginCtrl.logout()">Sair</a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
<div ng-controller="TabsController as tabsCtrl">
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active: tabsCtrl.isActive(1)}"><a ng-click="tabsCtrl.select(1)">Painel</a></li>
  <li role="presentation" ng-class="{active: tabsCtrl.isActive(2)}"><a ng-click="tabsCtrl.select(2)">Sensores</a></li>
</ul>
</div>