<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Kit IoT</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right" ng-controller="LoginController as loginCtrl">
      <ul class="nav navbar-nav">
        <li>
          <a ng-click="loginCtrl.logout()">Sair</a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
<div class="container-fluid" ng-controller="SensorsController as sensorCtrl">
  <div ng-controller="TabsController as tabsCtrl">
    <div class="row">
      <div class="col-xs-12 col-md-12" style="margin-top: 5px;">
        <ul class="nav nav-tabs nav-justified" dropdownTabs>
          <li role="presentation" ng-class="{active: tabsCtrl.isActive(0)}"><a ng-click="tabsCtrl.select(0)">Painel</a></li>
          <li role="presentation" ng-repeat="sensor in sensorCtrl.sensores" ng-class="{active: tabsCtrl.isActive(sensor._id)}"><a ng-click="tabsCtrl.select(sensor._id)">{{sensor.nome}}</a></li>
        </ul>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <!-- Painel Tab -->
      <div class="col-xs-12 col-md-12" ng-show="tabsCtrl.isActive(0)">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <form class="form-inline" ng-submit="sensorCtrl.addSensor(nome)">
              <div class="form-group">
                <label for="nome">Novo Sensor</label>
                <input type="text" class="form-control" id="nome" ng-model="nome" placeholder="Nome">
                <button type="submit" class="btn btn-primary">Adicionar</button>
              </div>
            </form>
          </div>
          <div class="col-xs-12 col-md-6" ng-controller="UserController as userCtrl">
            <div class="panel panel-default">
              <div class="panel-heading">API Key</div>
              <div class="panel-body" style="word-wrap: break-word;">
                {{ userCtrl.user.token }}
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-xs-12 col-md-6" ng-repeat="sensor in sensorCtrl.sensores">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{ sensor.nome }}</h3>
              </div>
              <div class="panel-body">
                Id: {{ sensor._id }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sensor tabs -->
      <div class="col-xs-12 col-md-12" ng-repeat="sensor in sensorCtrl.sensores" ng-show="tabsCtrl.isActive(sensor._id)">
        <leituras-table leituras="sensor.leituras"></leituras-table>
      </div>
    </div>
  </div>
</div>
